table.vertical-middle>thead>tr>td,
table.vertical-middle>tbody>tr>td {
	vertical-align: middle;
}
.dataTables_info .pagination {
  margin: 0 12px;
}

.tabpadding {
	margin: 0 12px;
}
.inputCss{
       height: 32px;
	padding: 6px 12px;
	border: 1px solid rgb(204, 204, 204);
	float: left;
}